/* Mobile styles first*/

:root {
    --engDeptGreen: #505A2F;
}

body {
    background-color: #292827;
    font-family: Arial, Helvetica, sans-serif;

    div.container {
        min-width: 390px;
        max-width: 780px;
        margin: 0 auto;
        background-color: white;

        header {
            img {
                display: block;
                width: 100%;
            }
        }

        section.middle {
            padding: 10px;
            min-height: 500px;
            background-image: url(files/uofu_medallion_rt.gif);
            background-repeat: no-repeat;
            background-position: bottom right;

            > nav {
                text-align: center;
                font-size: 10px;
                text-transform: uppercase;

                a {
                    color: black;
                    border-right: 1px solid black;
                    padding-right: 5px;
                    margin-right: 5px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    img {
                        vertical-align: middle;
                    }

                    &:last-of-type {
                        border-right: none;
                    }
                }

                &.drop-down-menu {
                    border: 1px solid black;
                    margin-top: 10px;

                    select {
                        width: 100%;
                    }
                }

                &.bottom {
                    text-transform: uppercase;
                }
            }
        }

        div.green-box {
            min-height: 500px;
            background-color: #C8CAAF;
            padding: 10px;
            margin: 10px 0 80px;
            border-radius: 10px;

            aside {
                &.left-side {
                    display:none;
                }
            }

            main {
                background-color: #fff;
                padding: 10px;

                img {
                    width: 100%;
                }
            }
        }

        footer {
            background-color: #676E3D;
            text-align: center;
            color: white;
            font-size: 10px;
            padding: 10px ;
        }

        /* Tablet and up overrides*/
        @media screen and (width >= 600px) {
            /* A breakpoint*/

            section.middle {
                > nav { /* nav child */
                    text-align: right; /* override the mobile property*/

                    &.drop-down-menu {
                        display: none;
                    }
                }

                div.green-box {
                    padding: 20px 30px;

                    aside {
                        &.left-side {
                            display: block;
                            float: left;
                            width: 33%;

                            nav{
                                a{
                                    display: block;
                                    text-transform: uppercase;
                                    font-size: 10px;
                                    color: #000;
                                    border-bottom: 2px solid var(--engDeptGreen);
                                    text-decoration: none;
                                    padding: 10px 0 10px 10px;

                                    &:hover {
                                        background-color: var(--engDeptGreen);
                                        color: #fff;
                                    }

                                }

                            }
                        }
                    }

                    main{
                        float: right;
                        width: 60%;
                    }
                }
            }
        }
    }
}

